.bg-glitter {
  background-image: url('/assets/images/xmas/bg/bg-scene-1.jpg');
  background-size: 100px 100px;
}

.cta-down {
-webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-ms-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;
}

.cta-down-active {
  transform: translateY(300px);
}

.comp.comp-xmas input {

  padding: 10px 10px 6px 10px;
  border: solid 1px #000;
  width: 100%;
}

.comp.comp-xmas input[type="checkbox"] {
  display: inline-block;
  width: auto !important;
  padding: 10px 10px 6px 10px;
  border: solid 1px #000;
  width: 100%;
}

.comp.comp-xmas input[type="radio"] {
  display: inline-block;
  width: auto;
}

.panel-intro {
  z-index: 999999999999999999;

}

.intro-window {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
}

.scene-0 .panel-0 {
  position: absolute;
}

.intro-window-1 {
  left: 0;
  background-image: url('/assets/images/xmas/placeholder/A-hero.jpg');
  background-size: cover;
}

.intro-window-2 {
  right: 0;
  background-image: url('/assets/images/xmas/placeholder/B-hero.jpg');
  background-size: cover;
}

.scene {
  position: relative;
}

.scene-cta {
  position: fixed;
  bottom: -100px;
  z-index: 99999999;
  text-align: center;
  width: 100%;
-webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-ms-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;
}

.scene-cta-active {
  /*bottom: 30px;*/
  transform: translateY(-130px);
}

.scene-cta a {
  padding: 15px 20px;
  background: #fff;
  color: #000;
  text-decoration: none;
}

.scene-1 {
  background-image: url('/assets/images/xmas/bg/bg-scene-1.jpg');
  background-size: 100px 100px;
}

.scene-2 {
  background-image: url('/assets/images/xmas/bg/bg-scene-2.jpg');
  background-size: contain;
}

.scene-3 {
  background-image: url('/assets/images/xmas/bg/bg-scene-3.jpg');
  background-size: contain;
}

.scene-4 {
  background-image: url('/assets/images/xmas/bg/bg-scene-4.jpg');
  background-size: contain;
}

.scene-6 {
  background-image: url('/assets/images/xmas/bg/bg-scene-6.jpg');
  background-size: contain;
}

.scene-1 .panel {z-index: 1;}

.scene-2 .panel {z-index: 2;}

.scene-3 .panel {z-index: 3;}

.scene-4 .panel {z-index: 4;}

.scene-5 .panel {z-index: 5;}

.scene-6 .panel {z-index: 6;}

.fg {
  position: fixed;
  top: -300%;
  width: 100%;
  height: 100%;
  z-index: 999999999;
}

.fg div {
  width: 100%;
  height: 100%;
  display: block;
  background-repeat: no-repeat;
}

.scene-1 .fg div {
  background-image: url('/assets/images/xmas/fg/fg-scene-1.svg');
  background-size: 100%;
}

.scene-2 .fg div {
  background-image: url('/assets/images/xmas/fg/fg-scene-2.png');
  background-size: 100%;
}

.scene-3 .fg div {
  background-image: url('/assets/images/xmas/fg/fg-scene-3-01.svg');
  background-size: 100%;
}

.scene-4 .fg div {
  background-image: url('/assets/images/xmas/fg/fg-scene-4-01.png');
  background-size: 100%;
}

.scene-5 .fg div {
  background-image: url('/assets/images/xmas/fg/fg-scene-5.svg');
  background-size: 100%;
}

.scene-6 .fg div {
  background-image: url('/assets/images/xmas/fg/fg-scene-6.png');
  background-size: 100%;
}

.panel-outro-gradient {
  width: 100%;
  height: 200px !important;
  /*background: red;*/
  margin-top: 500px;
  z-index: 9999999999999 !important;
  background-image: url('/assets/images/xmas/bg/bg-scene-7-fade.png');
  background-size: 100px 100px;
  background-position: bottom;
  background-repeat-y: no-repeat;
}

.panel-outro {
  width: 100%;
  /*background: red;*/
  z-index: 9999999999999 !important;
  background-image: url('/assets/images/xmas/bg/bg-scene-1.jpg');
}

.panel-outro-logo {
  width: 100%;
  height: 100%;
  position: absolute;
}

.panel-outro-swipe {
  width: 100%;
  height: 100%;
  z-index: 9999999999999 !important;
  background: red;
  /*background-image: url('/assets/images/xmas/bg/bg-scene-1.jpg');*/
}

.glitterTime {
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
  z-index: 999999999;
}

.glitterTime-speckle {
  display: block;
  width: 6px;
  height: 6px;
  position: fixed;
  border-radius: 3px;
  background: #FFEEB7;
  box-shadow: 0 0 5px 2px #FFEEB7;
  opacity: 0;
  /*-webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);*/
  /*animation:
    fade 2s linear infinite,
    move-1 2s linear infinite;*/
  /*animation-timing-function: ease-in-out;*/
}

.gT-s-move-1 {
  animation:
    fade 8s linear infinite,
    move-1 8s linear infinite;
}

.gT-s-move-2 {
  animation:
    fade 5s linear infinite,
    move-2 5s linear infinite;
}

/*.gT-s-move {
    animation: move 5s linear;
}*/

@keyframes fade {
  0%,100% { opacity: 0 }
  10% { opacity: 0.1 }
  25% { opacity: 0.01 }
  50% { opacity: 0.1 }
  65% { opacity: 0.03 }
  75% { opacity: 0.08 }
  90% { opacity: 0.05 }
  100% { opacity: 0 }
}

@keyframes move-1 {
    0% { transform: translate(0, 0); }
    100% { transform: translate(20px, -20px); }
}

@keyframes move-2 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-20px, -20px); }
}

.xHeroContainer-l,
.xHeroContainer-r {
  z-index: 0;
}

/*.pane-1,
.pane-4,
.pane-6,
.pane-8 {
  display: none;
}*/

.xHero {
  width: 100%;
}

.xHeroContainer-l {
    width: 999999999px;
    position: absolute;
    left: 0;
   overflow: hidden;
    height: 100%;
    /*z-index: 9;*/
    transform-origin: 0% 50%;
    transform: perspective(1225px) rotateY(37deg);
}

.xHeroContainer-r {
    width: 999999999px;
    position: absolute;
    right: 0;
   overflow: hidden;
    height: 100%;
  /* z-index: 9; */
  transform-origin: 100% 50%;
  transform: perspective(1225px) rotateY(-37deg);
  top: 0;
}

.xHeroContainer-mask {
  position: fixed;
  height: 100%;
  top: 0;
  overflow: hidden;
  z-index: 999999;
  width: 100%;
}

.scene .panel {
  z-index: 9999999;
}

.xHeroContainer-mask-l {
  left: 0;
}

.xHeroContainer-mask-r {
  right: 0;
}

.xHeroContainer-l .xHero {
    position: absolute;
    /* top: -10px; */
    z-index: 999999999;
    height: 100%;
    overflow: hidden;
    background: green;
    left: 0;
}

.xHeroContainer-r .xHero {
    position: absolute;
    z-index: 999999999;
    width: 5000px;
    height: 100%;
    overflow: hidden;
    right: 0;
    background: yellow;
}

.xmasIcon {
  position: fixed;
  top: 400px;
  left: -150px;
  z-index: 99999999;
}

.glitter-1 {
  display: block;
  pointer-events: none;
  width: 100%;
  height: 1000px;
  background-image: url('/assets/images/xmas/glitter-1.png');
  background-size: 100%;
  z-index: 9999999;
  position: absolute;
  top: 1500px;
}

.shimmer-1 {
  display: block;
  pointer-events: none;
  width: 100%;
  height: 1000px;
  background-image: url('/assets/images/xmas/shimmer-1.png');
  background-size: 100%;
  z-index: 9999999;
  position: fixed;
  top: 0;
}

.shimmer-2 {
  display: block;
  pointer-events: none;
  width: 100%;
  height: 800px;
  background-image: url('/assets/images/xmas/shimmer-2.png');
  background-size: 100%;
  z-index: 9999999;
  position: absolute;
  top: 1000px;
}

.shimmer-3 {
  display: block;
  pointer-events: none;
  width: 100%;
  height: 800px;
  background-image: url('/assets/images/xmas/shimmer-3.png');
  background-size: 100%;
  z-index: 9999999;
  position: fixed;
  top: 100px;
  left: 100%;
}

.gutter {
  width: 100%;
  position: absolute;
}

.gutter-l {
  left: 100%;
}

.gutter-r {
  right: 100%;
}

.gutter-right {
  right: 0;
  background-image: url('/assets/images/xmas/gutter-right.png');
  background-size: 100%;
}

.gutter-left {
  left: 0;
  background-image: url('/assets/images/xmas/gutter-left.png');
  background-size: 100%;
}

.panes {
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  left: 0;
}

.panel-1 {z-index: 1;}

.panel-2 {z-index: 2;}

.panel-3 {z-index: 3;}

.panel-4 {z-index: 4;}

.panel-5 {z-index: 5;}

.panel-6 {z-index: 6;}

.panel-7 {z-index: 7;}

.panel-8 {z-index: 8;}

.panel-9 {z-index: 9;}

.panel-10 {z-index: 10;}

.panel-11 {z-index: 11;}

.panel-12 {z-index: 12;}

.panel-13 {z-index: 13;}

.panel-14 {z-index: 14;}

.panel {
  width: 100%;
  height: 100%;
  position: relative;
}

.panel-logo {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 99999999999999 !important;
}

.panel-logo {
  background-image:url('/assets/images/xmas/logo_hero2.png');
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 99999999999999;
}

.panel-hero {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.panel-hero div {
  padding-top: 400px;
}

.panel-1.panel-hero div {
  margin-top: 0;
}

.panel-fixed {
  position: fixed;
}

.panel-0.panel-image {
  position: fixed;
}

.panel-hero > div {
  width: 100%;
  height: 100%;
  /*position: absolute;*/
  /*top: 100%;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pane {
  width: 50%;
  height: 50%;
  /*flex-grow: 1;*/
  overflow: hidden;
  position: relative;
}

.pane > div {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.pane-sc-r > div { left: 100%;}

.pane-sc-l > div { left: -100%;}

.pane-sc-t > div { top: -100%; left: 0;}

.pane-sc-b > div { top: 100%; left: 0;}

.pane-sc-r-final > div { left: 0%;}

.pane-sc-l-final > div { left: 0%;}

.pane-sc-t-final > div { top: 0%; left: 0;}

.pane-sc-b-final > div { top: 0%; left: 0;}

/*.panel-active .pane-sc-r > div {
  -webkit-box-shadow: -7px 0px 106px 0px rgba(5,47,255,0.72);
  -moz-box-shadow: -7px 0px 106px 0px rgba(5,47,255,0.72);
  box-shadow: -7px 0px 106px 0px rgba(5,47,255,0.72);
}

.panel-active .pane-sc-l > div {
  -webkit-box-shadow: 7px 0px 106px 0px #B60C01;
  -moz-box-shadow: 7px 0px 106px 0px #B60C01;
  box-shadow: 7px 0px 106px 0px #B60C01;
}

.panel-active .pane-sc-t > div {
-webkit-box-shadow: 0px 7px 106px 0px #9926D5;
-moz-box-shadow: 0px 7px 106px 0px #9926D5;
box-shadow: 0px 7px 106px 0px #9926D5;
}


.panel-active .pane-sc-b > div {
-webkit-box-shadow: 0px -7px 106px 0px #D8C600;
-moz-box-shadow: 0px -7px 106px 0px #D8C600;
box-shadow: 0px -7px 106px 0px #D8C600;
}*/

.lens-1 {
  display: block;
  width: 100%;
  height: 4000px;
  position: absolute;
  pointer-events: none;
  background-image:url('/assets/images/xmas/shimmer-8.png');
  z-index: 99999;
  background-size: 100%;
  top: 200px;
}

.glitter {
  position: fixed;
  width: 1px;
  height: 1px;
  background: #fff;
  z-index: 9999999;
  opacity: 0;
  animation: fade 5s linear;
-webkit-box-shadow: 0 0 20px 10px #ffffff;
box-shadow: 0 0 20px 10px #ffffff;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

.guide {
  display: block;
  width: 100%;
  height: 1px;
  background: red;
  position: absolute;
  z-index: 9;
  top: 0;
}
