
.f1, .f1a, .f2, .f3, .f4 {
  font-family: 'Helvetica Neue LT Pro 93 Black Extended', 'HelveticaExtBQ', sans-serif;
}
.f5, .b1, .b2, .b3, {
  font-family: 'Helvetica Neue LT Std 53 Extended', 'HelveticaNeueExt';
}
.story {
  font-family: 'Helvetica Neue LT Std 53 Extended', 'HelveticaNeueExt';
}
.hStd,
.interview__answer {
  font-family: 'Helvetica Neue LT Std 53 Extended', 'HelveticaNeueExt' !important;
}
.hBlk {
  font-family: 'Helvetica Neue LT Pro 93 Black Extended', 'HelveticaExtBQ', sans-serif !important;
}
.b4, h6 {
    font-family: 'Avenir', sans-serif;
  }
.f1 {
    font-size: 61px;
    line-height: 60px;
    text-transform: uppercase;
  }
.f1a {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
  }
.f2 {
    font-size: 34px;
    line-height: 36px;
    text-transform: uppercase;
  }
.f3 {
    font-size: 18px;
    line-height: 36px;
    text-transform: uppercase;
  }
.f4 {
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
  }
.f5 {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
  }
.f6 {
    font-size: 14px;
    line-height: 24px;
  }
.b1 {
    font-size: 20px;
    line-height: 24px;
  }
.b2 {
    font-size: 18px;
    line-height: 36px;
  }
.b3 {
    font-size: 12px;
    line-height: 24px;
  }
.b4 {
    font-size: 14px;
    line-height: 24px;
  }
