body {
  font-size: 16px;
}

.f1, .f1a, .f2, .f3, .f4 {
  font-family: "Helvetica Neue LT Pro 93 Black Extended", "HelveticaExtBQ", sans-serif;
}

.f5, .b1, .b2, .b3, {
  font-family: "Helvetica Neue LT Std 53 Extended", "HelveticaNeueExt", sans-serif !important;
}

.story {
  font-family: "Helvetica Neue LT Std 53 Extended", "HelveticaNeueExt", sans-serif !important;
}

.hStd,
.interview__answer,
.article {
  font-family: "Helvetica Neue LT Std 53 Extended", "HelveticaNeueExt", sans-serif !important;
}

.hBlk {
  font-family: "Helvetica Neue LT Pro 93 Black Extended", "HelveticaExtBQ", sans-serif !important;
}

.b4, h6 {
    font-family: "Avenir", sans-serif;
  }

.f1 {
    font-size: 4em;
    line-height: 0.9em;
    text-transform: uppercase;
  }

.f1a {
    font-size: 1.13em;
    line-height: .8em;
    text-transform: uppercase;
  }

.f2 {
    font-size: 2.15em;
    line-height: 1em;
    text-transform: uppercase;
  }

.f3 {
    font-size: 1.13em;
    line-height: 1.3em;
    text-transform: uppercase;
  }

.f4 {
    font-size: 0.81em;
    line-height: 1em;
    text-transform: uppercase;
  }

.f5 {
    font-size: .7em;
    line-height: 1em;
  }

.f6 {
    font-size: 14px;
    line-height: 24px;
  }

.b1 {
    font-size: 1.25em;
    line-height: 1em;
  }

.b2 {
    font-size: 18px;
    line-height: 28px;
  }

.b3 {
    font-size: 12px;
    line-height: 24px;
  }

.b4 {
    font-size: 14px;
    line-height: 24px;
  }
