:root {
  --grey: #F0F0F0;
  --black: #000000;
  --white: #FFFFFF;

  --green: #00C17B;
  --blue: #005399;

  --yellow: #FFC000;
  --red: #FF4337;
  --tan: #EAB8A6;

  --pink: #FA9ABA;
  --lightBlue: #0070CD;
  --lightGreen: #3FD4AD;

  --neonGreen: #6EFF00;
}

body {
  color: var(--black);
}

.bg-grey {background: var(--grey);}
.bg-black {background: var(--black);}
.bg-white {background: var(--white);}

.bg-green {background: var(--green);}
.bg-blue {background: var(--blue);}

.bg-yellow {background: var(--yellow);}
.bg-red {background: var(--red);}
.bg-tan {background: var(--tan);}

.bg-pink {background: var(--pink);}
.bg-lightBlue {background: var(--lightBlue);}
.bg-lightGreen {background: var(--lightGreen);}

.bg-neonGreen {background: var(--neonGreen);}


.grey {color: var(--grey);}
.black {color: var(--black);}
.white {color: var(--white);}

.green {color: var(--green);}
.blue {color: var(--blue);}

.yellow {color: var(--yellow);}
.red {color: var(--red);}
.tan {color: var(--tan);}

.pink {color: var(--pink);}
.lightBlue {color: var(--lightBlue);}
.lightGreen {color: var(--lightGreen);}

.neonGreen {color: var(--neonGreen);}

.grey-hover:hover {color: var(--grey);}
.black-hover:hover {color: var(--black);}
.white-hover:hover {color: var(--white);}

.green-hover:hover {color: var(--green);}
.blue-hover:hover {color: var(--blue);}

.yellow-hover:hover {color: var(--yellow);}
.red-hover:hover {color: var(--red);}
.tan-hover:hover {color: var(--tan);}

.pink-hover:hover {color: var(--pink);}
.lightBlue-hover:hover {color: var(--lightBlue);}
.lightGreen-hover:hover {color: var(--lightGreen);}
.neonGreen-hover:hover {color: var(--neonGreen);}
