@font-face {
  font-family: 'Helvetica Neue LT Pro 93 Black Extended';
  src: url('../fonts/HelveticaNeueLTPro-BlkEx.eot');
  src: url('../fonts/HelveticaNeueLTPro-BlkEx.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueLTPro-BlkEx.woff2') format('woff2'),
  url('../fonts/HelveticaNeueLTPro-BlkEx.woff') format('woff'),
  url('../fonts/HelveticaNeueLTPro-BlkEx.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue LT Std 53 Extended';
  src: url('../fonts/HelveticaNeueLTStd-Ex.eot');
  src: url('../fonts/HelveticaNeueLTStd-Ex.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueLTStd-Ex.woff2') format('woff2'),
  url('../fonts/HelveticaNeueLTStd-Ex.woff') format('woff'),
  url('../fonts/HelveticaNeueLTStd-Ex.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sssta';
  src: url('../fonts/sssta.eot');
  src: url('../fonts/sssta.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sssta.woff2') format('woff2'),
  url('../fonts/sssta.woff') format('woff'),
  url('../fonts/sssta.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

