.btn-padding {
  padding-bottom: 0px;
}

.cowboy {
  background-size: contain;
}

.marquee {
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 999;
  width: 80px;
  height: 80px;
  -webkit-animation: moveX 15.05s linear infinite alternate, moveY 15.4s linear infinite alternate;
  -moz-animation: moveX 15.05s linear infinite alternate, moveY 15.4s linear infinite alternate;
  animation: moveX 15.05s linear infinite alternate, moveY 15.4s linear infinite alternate;
  animation-timing-function: linear;
}

.cat {
  width: 80px;
  height: 80px;
}

/*@keyframes moveX {from { left: 0; } to { left: 1000px; }}
@keyframes moveY {from { transform: translateY(0px); } to { transform: translateY(700px); }}*/

/*@-webkit-keyframes moveX {
  from { left: 0; } to { left: 480px; }
}
@-moz-keyframes moveX {
  from { left: 0; } to { left: 480px; }
}
@-o-keyframes moveX {
  from { left: 0; } to { left: 480px; }
}
@keyframes moveX {
  from { left: 0; } to { left: 480px; }
}
@-webkit-keyframes moveY {
  from { top: 0; } to { top: 100%; }
}
@keyframes moveY {
  from { top: 0; } to { top: 99%; }
}*/

@media (--breakpoint-not-small) {
  .cat,
  .marquee {
    width: 120px;
    height: 120px;
  }
}

#felixContainer {
  pointer-events: none;
}

.bodyBg {
  background-image: url('/assets/images/bodyBg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
  margin: 0 auto;
}

@media (--breakpoint-not-small) {
  .bodyBg {
    background-image: url('/assets/images/bodyBg.jpg');
  }
}

@media (--breakpoint-large) {
  .bodyBg {
  }
}

@media (--breakpoint-extra-large) {
  .bodyBg {
    background-size: 90%;
  }
}

.content {
  z-index: 1;
}

.intro {
  z-index: 999999999;
}

.introLogo {
  display: none;
  background-image: url('/assets/images/logoPink.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
  z-index: 999999999;
}

.lockedScroll {
  overflow: hidden;
}

.imgTxt {
  background-size: contain;
  background-repeat: no-repeat;
}

.popupLink {
  background-image:url("/assets/images/popupText.png");
}

.getStickers {
  background-image: url('/assets/images/topText.png');
}

.row-top-1,
.row-top-2,
.free-bottom {
  z-index: 2 !important;
}

.smile {
  background-image: url('/assets/images/smile.png');
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  animation-name: spin;
  animation-duration: 8000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.fbLink {
  display: block;
  background-image: url('/assets/images/fbIcon_blue.svg');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  animation-name: spin;
  animation-duration: 8000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.felixBlue {
  background-image: url('/assets/images/felixBlue.svg');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  animation-name: spin;
  animation-duration: 8000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.free-bottom-a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('/assets/images/free.svg');
  background-size: contain;
  background-position: center;
}

.sea {
  width: 100%;
  height: 100%;
  background-image: url('/assets/images/leopard.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.instaBlue,
.instaRed,
.fbRed,
.fbBlue {
  width: 100px;
  height: 200%;
  background-position: center;
  background-size: 40%;
  display: block;
  background-repeat: no-repeat;
}

.instaBlue {
  background-image: url('/assets/images/instaIcon_blue.svg');
}

.instaRed {
  background-image: url('/assets/images/instaIcon_red.svg');
  background-position: top center;
}

.fbRed {
  background-image: url('/assets/images/fbIcon_red.svg');
  background-position: top center;
}

.fbBlue {
  background-image: url('/assets/images/fbIcon_blue.svg');
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/*
html, body {
  height: 100%;
  margin: 0;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}*/

.blk-vert {
  transform: rotate(90deg);
}

.blk-row-half {
  overflow: hidden;
}

.frame .f1,
.frame .f2,
.frame .f3,
.frame .f4 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.blk {
  text-transform: uppercase;
}

.blk-col {
  height: 100%;
  overflow: hidden;
}

.blk-col,
.blk {
  position: fixed;
}

.blk-col,
.blk-col-half {
  width: 100%;
}

.leo-l { top: 0; left: 0; }
.leo-r { top: 0; right: 0; }
.denim-l,
.denim-r,
.blk-col {
  top: 0;
}

.blk-row {
  width: 100%;
  left: 0;
  z-index: 0;
}

/*.blk-col,
.blk-col-half {
  z-index: 1;
}*/

.denim-l,
.denim-r {
  z-index: 1;
}

.join-top,
.join-bottom {
  z-index: 2;
}

.piccol-l,
.piccol-r {
  z-index: 1;
}

.denim-r,
.denim-l,
.leo-r,
.leo-l {
  z-index: 4;
}


.blk-sq {
  z-index: 7;
}

.row-top {top: 0;}
.row-bottom {bottom: 0;}

.marquee3k__wrapper {
  height: 100%;
}
