.story__title {
  margin: 0;
  text-align: center;
  line-height: 1em;
  padding-top: 20px;
}

.story__title__gbts { font-size: 6.5vw; }

.story__container {
  width: 900px;
  margin: 0 auto;
}

.story__lead {
  padding-top: 50px;
  padding-bottom: 50px;
}

.story__fullWidthImg {
  margin-bottom: 50px;
}

.story__fullWidthImg img {
  width: 100%;
}

.col3 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 50px;
}

.col3-el img {
  width: 80%;
}

.col3-el:nth-child(2) {
  text-align: center;
}

.col3-el:nth-child(3) {
  text-align: right;
}

.interview__section {
  padding-bottom: 50px;
}

.col2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.col2-el {
  width: 50%;
  margin-bottom: 50px;
}

.col2-el:first .img {
  text-align: left;
}
.col2-el:nth-child(2) .img {
  text-align: right;
}

.col2-el .img  img {
  width: 80%;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.quote {
  font-size: 80px;
  line-height: .9em;
  text-transform: none;
  font-family: 'Helvetica Neue LT Std 53 Extended', 'HelveticaNeueExt';
}

.interview__answer,
.col2-quote {
  font-family: 'Helvetica Neue LT Std 53 Extended', 'HelveticaNeueExt';
}

.col2-quote {
  margin: 140px 0;
  text-align: center;
  width: 100%;
  padding: 0 50px;
  font-size: 60px;
  line-height: 1em;
}

.story {
  overflow: hidden;
}
