.load {
  background-color: #fbd524;
  z-index: 99999999999999999;
  top: 102px;
}
.load img {
-webkit-animation: spin 3s infinite linear;
animation: spin 3s infinite linear;
-moz-animation: spin 3s infinite linear;
margin-top: -102px;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}



.btn-hover:hover,
.btn-hover-img:hover > img {
  border: solid 4px #000;
  cursor: pointer;
}

.cta-down {
-webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-ms-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;
}

.cta-down.cta-down-active {
  transform: translateY(300px);
}

.comp.comp-xmas input {

  padding: 10px 10px 6px 10px;
  border: solid 1px #000;
  width: 100%;
}

.comp.comp-xmas input[type="checkbox"] {
  display: inline-block;
  width: auto !important;
  padding: 10px 10px 6px 10px;
  border: solid 1px #000;
  width: 100%;
}

.comp.comp-xmas input[type="radio"] {
  display: inline-block;
  width: auto;
}

.panel-intro {
  z-index: 999;

}

.intro-window {
  position: fixed;
  width: 100%;
  height: 50%;
}

@media (--breakpoint-not-small) {
  .intro-window {
    top: 0;
    width: 50%;
    height: 100%;
  }
}

.scene-0 .panel-0 {
  position: absolute;
}

.intro-window-1 {
  left: 0;
  background-image: url('https://s3-eu-west-1.amazonaws.com/fiorucci/FESTIVE/INTRO/INTRO-WOMEN.jpg');
  background-size: cover;
  top: 0;
}

.intro-window-2 {
  right: 0;
  background-image: url('https://s3-eu-west-1.amazonaws.com/fiorucci/FESTIVE/INTRO/INTRO-MEN.jpg');
  background-size: cover;
  top: 50%;
}

@media (--breakpoint-not-small) {
  .intro-window-1,
  .intro-window-2 {
    top: 0;
  }
}

.scene {
  position: relative;
}

.scene-cta {
  position: fixed;
  bottom: -100px;
  text-align: center;
  width: 100%;
  z-index: 99;
-webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-ms-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;
}

.scene-cta.scene-cta-active {
  /*bottom: 30px;*/
  transform: translateY(-130px);
}

.scene-cta a {
  padding: 15px 20px 15px 20px;
  background: #fff;
  color: #000;
  text-decoration: none;
}

.scene-1 {
  background-image: url('https://s3-eu-west-1.amazonaws.com/fiorucci/FESTIVE/BACKGROUNDS/SCENE-1-BG.jpg');
  background-size: 100px 100px;
}

.scene-2 {
  background-image: url('https://s3-eu-west-1.amazonaws.com/fiorucci/FESTIVE/BACKGROUNDS/SCENE-2-BG.jpg');
  background-size: contain;
}

.scene-3 {
  background-image: url('https://s3-eu-west-1.amazonaws.com/fiorucci/FESTIVE/BACKGROUNDS/SCENE-3-BG.jpg');
  background-size: contain;
}

.scene-4 {
  background-image: url('https://s3-eu-west-1.amazonaws.com/fiorucci/FESTIVE/BACKGROUNDS/SCENE-4-BG.jpg');
  background-size: contain;
}

.scene-5 {
  background-image: url('https://s3-eu-west-1.amazonaws.com/fiorucci/FESTIVE/BACKGROUNDS/SCENE-5-BG.jpg');
  background-size: contain;
}


.scene-6 {
  background-image: url('https://s3-eu-west-1.amazonaws.com/fiorucci/FESTIVE/BACKGROUNDS/SCENE-6-BG.jpg');
  background-size: contain;
}

.fg {
  position: fixed;
  top: -300%;
  width: 100%;
  height: 100%;
  /*z-index: 999999999;*/
  pointer-events: none;
}

.fg div {
  width: 100%;
  height: 100%;
  display: block;
  background-repeat: no-repeat;
}

.scene-1 .fg div {
  background-image: url('https://s3-eu-west-1.amazonaws.com/fiorucci/FESTIVE/FOREGROUNDS/SCENE-2-FG.svg');
  background-size: 100%;
}
.scene-2 .fg div {
  background-image: url('https://s3-eu-west-1.amazonaws.com/fiorucci/FESTIVE/FOREGROUNDS/SCENE-2-FG.svg');
  background-size: 100%;
}
.scene-3 .fg div {
  background-image: url('https://s3-eu-west-1.amazonaws.com/fiorucci/FESTIVE/FOREGROUNDS/SCENE-3-FG.svg');
  background-size: 100%;
}
.scene-4 .fg div {
  background-image: url('https://s3-eu-west-1.amazonaws.com/fiorucci/FESTIVE/FOREGROUNDS/SCENE-4-FG.png');
  background-size: 100%;
}
.scene-5 .fg div {
  background-image: url('https://s3-eu-west-1.amazonaws.com/fiorucci/FESTIVE/FOREGROUNDS/SCENE-5-FG.svg');
  background-size: 100%;
}
.scene-6 .fg div {
  background-image: url('https://s3-eu-west-1.amazonaws.com/fiorucci/FESTIVE/FOREGROUNDS/SCENE-6-FG.svg');
  background-size: 150%;
}

.gT-s-move-1 {
  animation:
    fade 8s linear infinite,
    move-1 8s linear infinite;
}

.gT-s-move-2 {
  animation:
    fade 5s linear infinite,
    move-2 5s linear infinite;
}

/*.gT-s-move {
    animation: move 5s linear;
}*/

@keyframes fade {
  0%,100% { opacity: 0 }
  10% { opacity: 0.1 }
  25% { opacity: 0.01 }
  50% { opacity: 0.1 }
  65% { opacity: 0.03 }
  75% { opacity: 0.08 }
  90% { opacity: 0.05 }
  100% { opacity: 0 }
}

@keyframes move-1 {
    0% { transform: translate(0, 0); }
    100% { transform: translate(20px, -20px); }
}

@keyframes move-2 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-20px, -20px); }
}

/*.pane-1,
.pane-4,
.pane-6,
.pane-8 {
  display: none;
}*/

.xHero {
  width: 100%;
}

.xHeroContainer-l {
    width: 999999999px;
    position: absolute;
    left: 0;
   overflow: hidden;
    height: 100%;
    transform-origin: 0 50vh;
}

.xHeroContainer-r {
    width: 999999999px;
    position: absolute;
    left: 0;
   overflow: hidden;
    height: 100%;
  transform-origin: 100vw 50vh;
  top: 0;
}

@media (--breakpoint-medium) {
  .xHeroContainer-l {
    transform: perspective(750px) rotateY(37deg);
  }
  .xHeroContainer-r {
    transform: perspective(750px) rotateY(-37deg);
  }
}
@media (--breakpoint-large) {
  .xHeroContainer-l {
    transform: perspective(1200px) rotateY(37deg);
  }
  .xHeroContainer-r {
    transform: perspective(1200px) rotateY(-37deg);
  }
}

.xHeroContainer-l .xHero {
    position: absolute;
    /* top: -10px; */
    /*z-index: 999999999;*/
    height: 100%;
    overflow: hidden;
    left: 0;
}

.xHeroContainer-r .xHero {
    position: absolute;
    /*z-index: 999999999;*/
    width: 5000px;
    height: 100%;
    overflow: hidden;
    left: 0;
}

@-moz-document url-prefix() {

  .xHeroContainer-r .xHero {
    right: auto !important;
    left: 0 !important;
  }

  .xHeroContainer-r {
    background: red;
      width: 999999999px;
      position: absolute;
      left: 0;

     overflow: hidden;
      height: 100%;
    transform-origin: 100vw 50vh;

    -moz-transform: perspective(1225px) rotateY(-37deg);
    transform: perspective(1225px) rotateY(-37deg);
    top: 0;
  }
}



.xHeroContainer-mask {
  position: fixed;
  height: 100%;
  top: 0;
  overflow: hidden;
  z-index: 1;
  width: 100%;
}

.scene .panel {
  /*z-index: 9999999;*/
}

.xHeroContainer-mask-l {
  left: 0;
}

.xHeroContainer-mask-r {
  right: 0;
}


.gutter {
  width: 100%;
  position: absolute;
  background-size: contain;
}

.gutter-l {
  left: 100%;
}

.gutter-r {
  right: 100%;
}

.gutter-right {
  right: 0;
  background-size: 100%;
}

.gutter-left {
  left: 0;
  background-size: 100%;
}

.panes {
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  left: 0;
}

@media (--breakpoint-not-small) {
  .panes {
    left: 50%;
  }
}

.panel-1 {z-index: 1;}
.panel-2 {z-index: 2;}
.panel-3 {z-index: 3;}
.panel-4 {z-index: 4;}
.panel-5 {z-index: 5;}
.panel-6 {z-index: 6;}
.panel-7 {z-index: 7;}
.panel-8 {z-index: 8;}
.panel-9 {z-index: 9;}
.panel-10 {z-index: 10;}
.panel-11 {z-index: 11;}
.panel-12 {z-index: 12;}
.panel-13 {z-index: 13;}
.panel-14 {z-index: 14;}


.panel {
  width: 100%;
  height: 100%;
  position: relative;
}

.panel-logo {
  position: relative;
  width: 100%;
  height: 100%;
  /*z-index: 99999999999999 !important;*/
}

.panel-logo {
  background-image:url('https://s3-eu-west-1.amazonaws.com/fiorucci/FESTIVE/LOGOS/SCENE-1-LOGO.png');
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  /*z-index: 99999999999999;*/
}

.panel-hero {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.panel-hero div {
  padding-top: 400px;
}

.panel-1.panel-hero div {
  margin-top: 0;
}

.panel-fixed {
  position: fixed;
}


.panel-0.panel-image {
  position: fixed;
}


.panel-hero > div {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (--breakpoint-not-small) {
  .panel-hero > div {
    left: 50%;
  }
}

.pane {
  width: 50%;
  height: 50%;
  /*flex-grow: 1;*/
  overflow: hidden;
  position: relative;
}

.pane > div {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}


.pane-sc-r > div { left: 100%;}
.pane-sc-l > div { left: -100%;}
.pane-sc-t > div { top: -100%; left: 0;}
.pane-sc-b > div { top: 100%; left: 0;}

.pane-sc-r-final > div { left: 0%;}
.pane-sc-l-final > div { left: 0%;}
.pane-sc-t-final > div { top: 0%; left: 0;}
.pane-sc-b-final > div { top: 0%; left: 0;}

.glitter {
  position: fixed;
  width: 1px;
  height: 1px;
  background: #fff;
  z-index: 9999999;
  opacity: 0;
  animation: fade 5s linear;
-webkit-box-shadow: 0 0 20px 10px #ffffff;
box-shadow: 0 0 20px 10px #ffffff;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

.guide {
  display: block;
  width: 100%;
  height: 1px;
  background: red;
  position: absolute;
  z-index: 9;
  top: 0;
}

.fg {
  display: none;
  z-index: 9;
}

@media (--breakpoint-not-small) {
  .fg {
    display: block;
  }
}


/*// Production overwrites----------*/

header {
  z-index: 999;
}

.home-page-wrap {
  z-index: 1;
  position: relative;
}

.left-column,
.right-column,
.marquee-wrapper {
  display: none;
}

.product-listing-homepage,
.marquee-wrapper,
#footer {
  z-index: 99;
  position: relative;
}

.home-page-wrap .container-homepage-image img {
  width: fit-content;
}

.homepage-men {
  margin-bottom: 0 !important;
  padding-bottom: 75px;
}

.xmas {
  font-size: 30px;
}

