.story__title {
  margin: 0;
  text-align: center;
  line-height: 1em;
}

.story__title__gbts    {font-size: 6.5vw;}
.story__title__tomato  {font-size: 11.8vw;}
.story__title__archive {font-size: 7.6vw;}
.story__container {
  max-width: 700px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.story__lead {
  padding: 50px 0px;
  max-width: 900px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media (--breakpoint-not-small) {
  .story__container,
  .story__lead {
  padding-left: 0px;
  padding-right: 0px;
  }
}


.story__fullWidthImg {
  margin-bottom: 50px;
}

.story__fullWidthImg img {
  width: 100%;
}

.col3 {
  margin-bottom: 50px;
}

.col3-el {
  width: 100%;
  margin-bottom: 30px;
}

.col3-el img {
  width: 90%;
}

.col3-el:nth-child(2) {
  text-align: center;
}

.col3-el:nth-child(2) img {
  width: 100%;
}

.col3-el:nth-child(3) {
  text-align: right;
}

@media (--breakpoint-not-small) {
  .col3 {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .col3-el {
    width: none;
    margin-bottom: 0px;
  }
  .col3-el img {
    width: 80%;
  }
}

.interview__section {
  padding-bottom: 50px;
}

.col2 {
  width: 100%;
}

.col2-el {
  width: 100%;
  margin-bottom: 30px;
}

.col2-el:first .img {
  text-align: left;
}
.col2-el:nth-child(2) .img {
  text-align: right;
}

.col2-el .img  img {
  width: 90%;
}

.col2-quote {
  margin: 50px 0;
  text-align: center;
  width: 100%;
  padding: 0 50px;
  line-height: 1em;
}

@media (--breakpoint-not-small) {
  .col2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .col2-el {
    width: 50%;
    margin-bottom: 50px;
  }
  .col2-el .img  img {
    width: 80%;
  }
  .col2-quote {
    margin: 140px 0;
  }
}

.mb-50 {margin-bottom: 50px;}
.mt-50 {margin-top: 50px;}
.pt-50 {padding-top: 50px;}
.pb-50 {padding-bottom: 50px;}

.mb-100 {margin-bottom: 100px;}
.mt-100 {margin-top: 100px;}
.pt-100 {padding-top: 100px;}
.pb-100 {padding-bottom: 100px;}

.mb-200 {margin-bottom: 200px;}
.mt-200 {margin-top: 200px;}
.pt-200 {padding-top: 200px;}
.pb-200 {padding-bottom: 200px;}

@media (--breakpoint-not-small) {
.mb-50-ns {margin-bottom: 50px;}
.mt-50-ns {margin-top: 50px;}
.pt-50-ns {padding-top: 50px;}
.pb-50-ns {padding-bottom: 50px;}

.mb-100-ns {margin-bottom: 100px;}
.mt-100-ns {margin-top: 100px;}
.pt-100-ns {padding-top: 100px;}
.pb-100-ns {padding-bottom: 100px;}

.mb-200-ns {margin-bottom: 200px;}
.mt-200-ns {margin-top: 200px;}
.pt-200-ns {padding-top: 200px;}
.pb-200-ns {padding-bottom: 200px;}
}

.quote,
.col2-quote {
  font-size: 40px;
  line-height: .9em;
  text-transform: none;
  font-family: 'Helvetica Neue LT Std 53 Extended', 'HelveticaNeueExt';
}

@media (--breakpoint-not-small) {
  .quote {
    font-size: 80px;
    line-height: .9em;
  }
}


.interview__answer,
.col2-quote {

  font-family: 'Helvetica Neue LT Std 53 Extended', 'HelveticaNeueExt';
}

.story {
  overflow: hidden;
}
