.xHeroContainer-l,
.xHeroContainer-r {
  z-index: 0;
}

.xHeroContainer-l {
    width: 50%;
    position: fixed;
    left: 0;
   overflow: hidden;
    height: 100%;
    /*z-index: 9;*/
    transform-origin: 0% 50%;
    transform: perspective(55px) rotateY(7deg);
}

.xHeroContainer-r {
  width: 50%;
  position: fixed;
  right: 0;
  overflow: hidden;
  height: 100%;
  /* z-index: 9; */
  transform-origin: 100% 50%;
  transform: perspective(55px) rotateY(-7deg);
  top: 0;
}

.xHeroContainer-l .xHero {
    position: fixed;
    /* top: -10px; */
    z-index: 999999999;
    width: 5000px;
    height: 100%;
    /* transform: perspective( 2490px ) rotateY( 75deg ); */
    overflow: hidden;
    /* left: -620px; */
    background-image: url('/assets/images/xmas/hero-scroll.jpg');

}

.xHeroContainer-r .xHero {
    position: fixed;
    z-index: 999999999;
    width: 5000px;
    height: 100%;
    overflow: hidden;
    right: 0;
    background-image: url('/assets/images/xmas/hero-scroll-r.jpg');
    background-position: 70px 0;
}

.xHero img {
  height: 100%;
  display: block;
  float:left;
}


.xmasIcon {
  position: fixed;
  top: 400px;
  left: -150px;
  z-index: 99999999;
}

.glitter-1 {
  display: block;
  pointer-events: none;
  width: 100%;
  height: 1000px;
  background-image: url('/assets/images/xmas/glitter-1.png');
  background-size: 100%;
  z-index: 9999999;
  position: absolute;
  top: 1500px;
}

.shimmer-1 {
  display: block;
  pointer-events: none;
  width: 100%;
  height: 1000px;
  background-image: url('/assets/images/xmas/shimmer-1.png');
  background-size: 100%;
  z-index: 9999999;
  position: fixed;
  top: 0;
}

.shimmer-2 {
  display: block;
  pointer-events: none;
  width: 100%;
  height: 800px;
  background-image: url('/assets/images/xmas/shimmer-2.png');
  background-size: 100%;
  z-index: 9999999;
  position: absolute;
  top: 1000px;
}

.shimmer-3 {
  display: block;
  pointer-events: none;
  width: 100%;
  height: 800px;
  background-image: url('/assets/images/xmas/shimmer-3.png');
  background-size: 100%;
  z-index: 9999999;
  position: fixed;
  top: 100px;
  left: 100%;
}

.gutter {
  width: 5%;
  position: absolute;
}

.gutter-right {
  right: 0;
  background-image: url('/assets/images/xmas/gutter-right.png');
  background-size: 100%;
}

.gutter-left {
  left: 0;
  background-image: url('/assets/images/xmas/gutter-left.png');
  background-size: 100%;
}

.panes {
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 100%;
  left: 50%;
}

.panel-0 {z-index: 0;}
.panel-1 {z-index: 1;}
.panel-2 {z-index: 2;}
.panel-3 {z-index: 3;}
.panel-4 {z-index: 4;}
.panel-5 {z-index: 5;}


.panel {
  width: 90%;
  height: 100%;
}

.panel-logo {
  position: relative;
  width: 100%;
  height: 100%;
}

.panel-logo > div {
  background-image:url('/assets/images/xmas/logo_hero2.png');
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 99999999;
  height: 100%;
}

.panel-image {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.panel-image > div {
  width: 100%;
  height: 100%;
  /*position: absolute;*/
  /*top: 100%;*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.pane {
  width: 25%;
  height: 50%;
  /*flex-grow: 1;*/
  overflow: hidden;
  position: relative;
}

.pane > div {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}


.pane-sc-r > div { left: 100%;}
.pane-sc-l > div { left: -100%;}
.pane-sc-t > div { top: -100%; left: 0;}
.pane-sc-b > div { top: 100%; left: 0;}

.panel-active .pane-sc-r > div {
  -webkit-box-shadow: -7px 0px 106px 0px rgba(5,47,255,0.72);
  -moz-box-shadow: -7px 0px 106px 0px rgba(5,47,255,0.72);
  box-shadow: -7px 0px 106px 0px rgba(5,47,255,0.72);
}

.panel-active .pane-sc-l > div {
  -webkit-box-shadow: 7px 0px 106px 0px #B60C01;
  -moz-box-shadow: 7px 0px 106px 0px #B60C01;
  box-shadow: 7px 0px 106px 0px #B60C01;
}

.panel-active .pane-sc-t > div {
-webkit-box-shadow: 0px 7px 106px 0px #9926D5;
-moz-box-shadow: 0px 7px 106px 0px #9926D5;
box-shadow: 0px 7px 106px 0px #9926D5;
}


.panel-active .pane-sc-b > div {
-webkit-box-shadow: 0px -7px 106px 0px #D8C600;
-moz-box-shadow: 0px -7px 106px 0px #D8C600;
box-shadow: 0px -7px 106px 0px #D8C600;
}


.lens-1 {
  display: block;
  width: 100%;
  height: 4000px;
  position: absolute;
  pointer-events: none;
  background-image:url('/assets/images/xmas/shimmer-8.png');
  z-index: 99999;
  background-size: 100%;
  top: 200px;
}

.glitter {
  position: fixed;
  width: 1px;
  height: 1px;
  background: #fff;
  z-index: 9999999;
  opacity: 0;
  animation: fade 5s linear;
-webkit-box-shadow: 0 0 20px 10px #ffffff;
box-shadow: 0 0 20px 10px #ffffff;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

.guide {
  display: block;
  width: 100%;
  height: 1px;
  background: red;
  position: absolute;
  z-index: 9;
  top: 0;
}
