<div id="panel-{{include.panelCount}}" class="panel panel-{{include.panelCount}} panel-panes" data-trigger="panel-{{include.panelCount}}" data-tweenStyle="{{include.tweenStyle}}">
  <div class="panes">
    <div class="pane pane-0 pane-sc-t db" data-scrollfrom="top">
      <div style="background-image: url('/assets/images/xmas/placeholder/{{include.photos}}-01.jpg')"></div>
    </div>
    <div class="pane pane-1 pane-sc-l db" data-scrollfrom="left">
      <div style="background-image: url('/assets/images/xmas/placeholder/{{include.photos}}-02.jpg')"></div>
    </div>
    <div class="pane pane-2 pane-sc-b db" data-scrollfrom="bottom">
      <div style="background-image: url('/assets/images/xmas/placeholder/{{include.photos}}-03.jpg')"></div>
    </div>
    <div class="pane pane-3 pane-sc-r db" data-scrollfrom="right">
      <div style="background-image: url('/assets/images/xmas/placeholder/{{include.photos}}-04.jpg')"></div>
    </div>
  </div>
</div>
